<div class="row">
  <div class="col-xs-12">
    <img [src]="book.photo" style="max-width: 400px" *ngIf="book.photo">
    <h1>{{ book.title }}</h1>
    <h3>{{ book.author }}</h3>
    <p>{{ book.synopsis }}</p>
    <button class="btn btn-default" (click)="onBack()">Retour</button>
  </div>
</div>
