<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="books">Livres </a></li>
    </ul>
    <ul class ="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth"><a routerLink="authentification/signup">Inscription</a></li>
      <li routerLinkActive="active" *ngIf="!isAuth"><a routerLink="authentification/signin">Connexion</a></li>
      <li><a *ngIf="isAuth"  (click)="onSignout()" style="cursor: pointer">Deconnexion</a></li>
    </ul>
  </div>



</nav>
