<div class="row">
  <div class="col-sm-8">
    <h2>Créer un Livre</h2>
    <form (ngSubmit)="onSubmit(f)"  #f="ngForm">
      <div class="form-group float-label-control">
        <label for="titre">Titre</label>
        <input type="text" id="titre" class="form-control" name="titre"  ngModel required>
      </div>
      <div class="form-group float-label-control">
        <label for="author">Auteur</label>
        <input type="text" id="author" class="form-control" name="author" ngModel required>
      </div>

      <div class="form-group">
        <label for="synopsis">Synopsis</label>
        <textarea id="synopsis" class="form-control" name="synopsis" ngModel>
        </textarea>
      </div>

      <div class="form-group">
        <h4>Ajouter une photo</h4>
        <input type="file" (change)="detectFiles($event)" class="form-control" accept="image/*">
        <p class="text-success"*ngIf="fileUploaded">Fichier chargé</p>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="f.invalid || fileIsUploading"  >Enrégistrer</button>
    </form>
  </div>

</div>
