<div class="row">
  <div class="col-sm-8">
    <h2>Créer un compte</h2>
    <form (ngSubmit)="onSubmit(f)"  #f="ngForm">
      <div class="form-group float-label-control">
        <label for="email">Votre email</label>
        <input type="email" id="email" class="form-control" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" name="email"  ngModel required>
      </div>
      <div class="form-group float-label-control">
        <label for="password">Votre password</label>
        <input type="password" id="password" class="form-control" name="password" ngModel required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid" >Enrégistrer</button>
    </form>
    <p class="text-danger">{{errorMessage}}</p>
  </div>

</div>
